
.square {
  display: inline-block;
  background-color: #fff;
  height: 100px;
  width: 100px;
  margin: -5px;
  border-style: outset;
  border-width: 5px;
  border-color: black;
  text-align: center;
}