nav {
  padding: 20px 0px;
  width: 100%;
  top: 0;
  z-index: 9;
  position: absolute;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.logo {
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.main_menu, .dropdown {
  padding: 0px;
  list-style-type: none;
}

.main_menu > li {
  float: left;
}

.main_menu > li > a {
  padding: 10px 15px;
  font-size: 14px;
  color: #ffffff;
}

.drop > a {
  display: block;
}

.dropdown > li > a {
  padding: 10px 20px;
  font-size: 14px;
  color: #1A374D;;
}

.dropdown {
  top: 100%;
  padding: 20px 0;
  border-radius: 20px;
  background: #ffffff;
  z-index: 999;
  box-shadow: 0 2px 10px -2px rgb(0 0 0 / 10%);
  transition: 0.2s 0s;
}