
.about_section {
  background-image: url(../image/about-bg.png);
  background-size: cover;
}

section .about_text_top {
  color: #f5cb0a;
  font-size: 18px;
  font-weight: bold;
}

section .about_text_main {
  margin-bottom: 80px;
  color: #2c2c2b;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}
section .about_text_head {
  margin: 20px 0px 20px 0px;
}

section h1 {
  margin: 0;
  color: #1c1c1c;
  font-size: 46px;
}

section .about_img {
  width: 100%;
  height: 300px; /* 이거 고정값 말고 하는법 찾아 */
  background-image: url(../image/img-2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

section .about_link {
  width: 30%;
  float: left;
  font-size: 16px;
  color: #1c1c1c;
  background-color: #c2a20e;
  text-align: center;
  padding: 14px 0px;
}

section a {
  text-decoration: none;
  outline: none;
}