nav {
  padding: 20px 0px;
  width: 100%;
  background-color: #6998ab;
}

.logo{
  font-size: 24px;
  color: #ffffff;
  font-weight: 700;
}

.main_menu > li {
  float: left;
}

.main_menu > li > a {
  display: block;
  text-align: center;
}

.main_menu, .Dropdown {
  list-style-type: none; /* ul,li 요서 속성 초기화 */
}

.Dropdown {
  opacity: 0;
  visibility: hidden;
}

.main_menu > li:hover .Dropdown {
  opacity: 1;
  visibility: visible;

  transition: ease-in-out;
}